<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Edson Gabriel Pereira Soares" />
    <meta name="description" content="Project Pokemon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PokeAPI</title>
    <link rel="icon" href="images/icon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/style/960.css">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <header>
        <div class="container_12">
            <a href="/"><img src="/images/pokeLogo.png" class="logo" alt="Pokemon Logos"></a>
            <div class="grid_4 prefix_8">
                <ul>
                    <li>
                        <a href="/pokemons">Pokemons</a>
                    </li>
                    <li>
                        <a href="/items">Items</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
