<% include partials/header %>
<div class="container_12 bgpagehome">
    <div class="centerhome"> 
        <p class="txt">Gotta Catch Them All!</p>
        <a href="/pokemons"><button class="btn"><span>Start API</span></button></a>
    </div>
</div>
<% include partials/footer %>

