<% include partials/header %>

    <div class="container_12">
        <div class="bgpage error">
            <h1>ERROR</h1>
            <p>Fail to connect or Pokemon not Found!</p>
            <a href="/pokemons">Click here to go back!</a>
        </div>
    </div>

<% include partials/footer %>